<div class="bg-dark text-white">
    <div class="footer">
        <div class="row">
            <div class="col-md-9">

                <div class="footer-heading">
                    Movie Engines
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <ul>
                            <li>Banking</li>
                            <li>Capital Markets</li>
                            <li>Communications, Media & Technology</li>
                            <li>User Goods</li>
                            <li>Education</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>Healthcare</li>
                            <li>Information Services</li>
                            <li>Manufacturing</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>Retail</li>
                            <li>Travel & Hospitality</li>
                            <li>Utilities</li>
                        </ul>
                    </div>
                </div>
                <div class="footer-heading">
                    SERVICES
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <ul>
                            <li class="footer-subheading">Cognizant Digital Business</li>
                            <li>Artificial Intelligence</li>
                            <li>Digital Engineering</li>
                            <li>Digital Strategy</li>
                            <li>Interactive</li>
                            <li>Internet of Things</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li class="footer-subheading">Digital Operations</li>
                            <li>Enterprise Services</li>
                            <li>Platform Solutions</li>
                            <li>Intelligent Process Automation</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li class="footer-subheading">Systems & Technology</li>
                            <li>Application Services</li>
                            <li>Cloud Enablement</li>
                        </ul>
                    </div>
                </div>
               


            </div>
            <div class="col-md-3">
                <div class="footer-subheading">
                    ABOUT US
                </div>
                <div>
                    <ul>
                        <li>2020 in Focus</li>
                        <li>Contact Us</li>
                        <li>Corporate Governance</li>
                        <li>Corporate Integrity</li>
                        <li>Culture & Values</li>
                        <li>Diversity & Inclusion</li>
                        <li>News & Press Releases</li>
                        <li>Partnerships</li>
                        <li>Public Policy</li>
                    </ul>
                </div>
                <div class="footer-subheading">
                    INFORMATION FOR VIEWERS
                </div>
                <div>
                    <ul>
                        <li>Procure-to-Pay</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
