<ul class="nav justify-content-center nav-tabs mt-3">
    <li class="nav-item">
      <a class="nav-link active" href="#">New Releases</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Trending</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Coming Soon</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Favourite</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Watch Later</a>
      </li>
  </ul>
